body{
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}
#app-container{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px,
    background color #1e1e1e,
    border-radius 12px,
    box shadow 0 4px 15px rgba(0,0,0,0.5);
}